<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout1 :: layout1 (~{::body},'home')}">
<head>
  <meta charset="UTF-8">
  <title>Assignments</title>
</head>
<body>
<form action="/tutor/assignments-tutor" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
      <label for="description">Description</label>
      <textarea class="form-control" rows="5" id="description" name="description"></textarea>
    </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    <label>Module</label>
    <select class="form-control form-control-lg" id="moduleSelected" name="moduleId">
      <option th:each="module:${modules}" th:text="${module.name}" th:value="${module.module_id}"></option>
    </select>
  </div>
  </div>


  <button type="submit" class="btn btn-primary"> Add assignment</button>
</form>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin-top:20px">
  Add task
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


        <form action="/endpoint" method="POST" style="padding:40px">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="taskName" name="name" placeholder="Name" style="width:400px">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="description">Description</label>
              <textarea class="form-control" rows="5" id="taskDescription" name="description" style="width:400px"></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Assignment</label>
              <select class="form-control form-control-lg" th:each="assignment:${assignments}" id="assignmentSelected" name="assignmentId" style="width:400px">
                <option th:text="${assignment.name}" th:value="${assignment.id}">Id</option>
              </select>
            </div>
          </div>


          <button type="submit" class="btn btn-primary"> Add task</button>
        </form>




      </div>
    </div>
  </div>
</div>


</body>
</html>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.6/dist/umd/popper.min.js" integrity="sha384-ZGj6T8G6bL2QfRkb7k/Cv1ZjPAWFLD3VWpZlYO+P/HpwIhMf+zcT/mtUQ9fiZvH" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

